*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}



#page1{
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(217, 0, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 225, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

#box{
    height: 300px;
    width: 300px;
    background-color: crimson;
}

h1{
    font-size: 60px;
    position: relative;
    background-color: aqua;
}
h2{
    font-size: 60px;
    position: relative;
    background-color: rgb(64, 255, 0);
}