*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}







.card{
    background-color: antiquewhite;
    border-radius: 12px;
    margin: 40px;
    padding: 60px;
    text-align: center;
    font-size: larger;
}